body{
    background-color: beige;
}
#H1privacy{
text-align: center;
}
.privacy{
    width: 60%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 6px 17px rgb(35 2 2 / 65);
    margin: 5% 10%;
    padding: 5% 10%;
}

.text5{
    /* word-break: break-all;  */
    white-space: normal;
}
.span1{
    font-size: large;
    font-weight: bolder;
  
}