.footer{
    background-color: rgb(189 204 216);
    display: flex;
    justify-content: space-around;
    margin: -0.5%;
}
.linkk{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.d1{line-height: 5px;}